.features-wrapper {
    &.style1 {
        position: relative;
        background: $theme-color-2;

        .shape {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }

        @include breakpoint (max-lg) {
             padding: 80px 0;
        }
    }
}


.features-thumb {
    margin-left: -300px;
    width: 100%;
    max-height: 863px; 

    @include breakpoint (max-xxl) {
        margin-left: -370px;
    }

    @include breakpoint (max-xl) {
        margin-left: -445px;
    }

    @include breakpoint (max-lg) {
        margin-left: 0px;
        width: 100%;
    }

    @include breakpoint (max-md) {
         img {
            width: 100%;
            height: 100%;
         }
    }
}


.features-content {
    position: relative;
    z-index: 5;
}

.featured-item {
    display: grid;
    align-items: center;
    grid-template-columns: (30% 50% 20%);
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid $border-color;
    max-width: 630px;

    @include breakpoint (max-md) {
        gap: 5px;
    }

    h3 {
        color: $title-color;
        font-family: $title-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.2px;

        @include breakpoint (max-sm) {
            font-size: 18px;
        }
    }

    .text {
        color: $text-color;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.08px;
        max-width: 300px;

        @include breakpoint (max-sm) { 
            font-size: 13px; 
            line-height: 22.08px; 
        }
    }

    .icon {
        width: 41px;
        transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
}

    &:hover {
        .icon {
            margin-left: 10px;
        }

    }
}