.gallery-wrapper {
    &.style1 {
        background-image: url(../images/bg/galleryBg1_1.jpg);

        .gallery-thumb {
            position: relative;
            width: 100%;
            overflow: hidden;

            img {
                position: relative;
                width: 100%;
            }

            .gallery-content {
                position: absolute; 
                left: 40px;
                right: 40px;
                bottom: -50px;
                padding: 20px 30px;
                background: $bg-color;
                border-bottom: 3px solid $theme-color;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s; 

                h3 {
                    color: $white;
                    font-family: $title-font;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 31.2px;
                    margin-bottom: 15px;
                }

                p {
                    color: $white;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26.08px;

                } 
            }

            &:hover {
                .gallery-content {
                    bottom: 40px;
                    padding: 40px 30px;

                    h3 {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}